.titleBody {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headingMain {
  text-align: center;
  position: relative;
}
.headingMain > h1 {
  text-align: left;
  font-size: 65px;
  position: absolute;
  top: 7%;
  left: 25%;
  width: 190%;
  color: rgba(0, 0, 0, 0.8);
}
.textAndImage > h3 {
  padding: 0;
  margin-top: 5%;
  letter-spacing: 0px;
  font-weight: 500;
}
.textAndImage {
  position: relative;
  top: 60%;
  left: 25%;
}
.itImg {
  margin-top: 1%;
  width: 70%;
  display: block;
  z-index: -1;
}
.educational {
  color: #5eb1ffc1;
  font-size: 75px;
  padding: 0%;
}
.inpt {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
/* CSS INPUT ANIMATION  */
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  background-image: linear-gradient(180deg, #d3ebff23, #f3f3f315);
  border-bottom: 1px solid #5eb1ff;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5eb1ff;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5eb1ff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5eb1ffc1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5eb1ffc1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5eb1ffc1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@media screen and (max-width: 1024px) {
  .itImg {
    width: 95%;
    margin: 0 auto;
  }
  .textAndImage {
    position: static;
    margin-top: 2%;
  }
  .headingMain {
    width: 100%;
  }
  .headingMain > h1 {
    margin-top: 5%;
    padding: 0% 1% 0%;
    position: static;
    font-size: 38px;
    text-align: center;
    width: auto;
  }
  .inpt {
    position: static;
    margin-top: 6%;
  }
  .educational {
    margin-top: 5%;
    font-size: 38px;
    padding: 5% 0 0 0;
  }
}
@media screen and (max-width: 1390px) and (min-width: 1025px) {
  img.itImg {
    width: 80%;
    margin: 0 auto;
  }
  .textAndImage {
    position: static;
    margin-top: 2%;
  }
  .inpt {
    position: static;
    margin-top: 3%;
  }
  .headingMain {
    width: 100%;
  }
  .headingMain > h1 {
    text-align: center;
    margin: 4% auto;
    position: static;
    font-size: 50px;
    width: auto;
  }
  .educational {
    margin-top: 2%;
    font-size: 50px;
    padding: 5% 0 0 0;
  }
}
