.banner-search {
    margin-left: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 30px;
    padding-left: 1.5rem;
    overflow: hidden;
    width: 100%;
    color: rgb(119, 121, 140);
    background-color: #fafafa;
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
    
}

.op-profile{
    
    background-color: #fcfcfc;
}

.mrgn{
    color: #b3b3b3;
    margin-right: 10px;
}

.search-input {
    flex-grow: 1;
    padding-right: 20px;
    height: 48px;
    color: rgb(119, 121, 140);
    background-color: inherit;
    appearance: none;
    border: 0px;
}

.btn-search {
    background-color: var(--primary);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    outline: 0px;
    padding-left: 15px;
    padding-right: 10px;
    cursor: pointer;
    flex-shrink: 0;
}

.search-input:focus {
    outline: 0;
}

.select-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--primary);
    background-color: rgb(247, 247, 247);
    border-radius: 6px;
    margin: 5px;
    white-space: nowrap;
    text-transform: capitalize;
}

.bi {
    margin-right: 8px;
}

@media only screen and (max-width: 820px) {
  
    .btn-search, .select-item {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    
    .btn-search, .select-item {
        display: none;
    }
}