
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
:root {
  --main-bg: #fdfdfd;
  --card-bg: #fff;
  --primary: #0265c2;
}

body {
  margin: 0;
  padding: 0;
  font: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: Lato, sans-serif;
}

*{
  font-family: 'Poppins';
}