.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .button {
    display: block;
    margin: 20px 0;
    min-height: 50px;
    padding: 13px 24px;
    font-family: 'Lucida Grande', 'Helvetica', 
  }
 
  
  .button3:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #8d8d8d;
  background-position: center;
    border-radius: 26px;
    z-index: -1;
    transition: border-color 0.2s;
  }
  .button3:after {
    content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70vmax;
      height: 70vmax;
      border-radius: 50%;
      background-color: #646464;
      opacity: 0.3;
      transform-origin: center;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.4s ease-in-out;
      z-index: -1;
  }
  .horizontal-scrollable > .row > .col-xs-4 {
    display: inline-block;
    float: none;
  }
.contenu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.align-items {
    display: block;
}

.content-home{
   width: 100%;
       margin-top: -80px;
    display: flex;
    background-color: #f7f7f7;
    
  
    padding-right: 0px;
    transition: padding-right 0.35s ease-in-out 0s;
}



.container-card{
    width: 100%;
  
    background-color: #f7f7f7;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.paragh {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    
    text-align: center;
    margin-bottom: 50px;
}

.heading {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.sld{
   
    display: flex;
   width:100%;
   height: 100%;
   flex-direction: row;
   align-items: center;
   justify-content: center;

}

.SliderShow {
    display: flex;
    align-items: center;
    height: 500px;
    flex-direction: column;
    background-color: #f7f7f7;
}
.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .horizontal-scrollable > .row > .col-xs-4 {
    display: inline-block;
    float: none;
  }
  /* Decorations */
  
  .col-xs-4 {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 18px;
  }
  
  .col-xs-4:nth-child(2n + 1) {
    background: green;
  }
  
  .col-xs-4:nth-child(2n + 2) {
    background: black;
  }
  
@media only screen and (max-width: 820px) {
    .heading {
        font-size: 22px;
    }
    .paragh {
        font-size: 14px;
    }
}