.items {
    min-height: 100vh;
    background: #fff;
}

.title-region {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.cards-display {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.card {
    border-radius: 12px;
    position: relative;
    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(253, 252, 252);
    margin: 15px;
    width: 320px;
    height: 450px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.user-name{
    color: #4c4d4e!important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    left: 5%;
    top: 62%;
    margin-bottom: 20px;
}


.load {
    border-radius: 12px;
    
    
    background-color: rgb(253, 252, 252);
    margin: 15px;
    width: 320px;
    height: 350px;
   
}

.mr {
    margin-right: 3px;
}

.links {
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.links:hover {
    color: var(--primary);
    text-decoration: underline;
}

.btn-outline-secondary {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}

.card-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.text-muted {
    margin-top: 2px;
    font-size: 14px;
}

.cat {
    border: 1px solid rgb(3, 50, 138);
    border-radius: 15px;
    margin-left: 5px;
    padding: 0 0.5rem;
    cursor: pointer;
    color: rgb(3, 50, 138);
}

.bottom {
    text-align: center;
    position: absolute;
    
    bottom: 5px;
    width: 100%;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Lato, sans-serif;
}

.card-text {
    font-size: 16px;
    font-family: Lato, sans-serif;
    margin-top: 15px;
}

.card-img-top {
    height: 240px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-body {
    overflow: hidden;
}

.search-input {
    width: 500px;
}

.cards-dots {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.7;
}