.items-c {
    min-height: 100vh;
    background: #f7f7f7;
     display: flex;
    justify-content: center;
}

.title-region {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.cards-display {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
    height: 100%;
    flex-wrap: wrap;
}

.btn-pag{
    border-radius: 35px;
    border: 1px solid #777;
    text-align: center;
    color: #555;
    font-weight: 400;
    margin-right: 20px;
    background-color: #fcfcfc;
    padding: 0.5rem 0.3rem;
    padding-left: 12px;
}

.btn-pag-next{
     border-radius: 35px;
    border: 1px solid var(--primary);
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-right: 20px;
    background-color: var(--primary);
    padding: 0.5rem 0.3rem;
    padding-left: 12px;
}

.btn-pag-next:hover{
   
    background-color: #025db3;
  
}

.btn-pag:hover{
    border: 1px solid #555;
    background-color: #555;
    color: white;
}

.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
}

.card {
    border-radius: 12px;
    position: relative;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 15px;
    width: 320px;
    height: 470px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.name{
    color: rgb(87, 87, 87);
    font-weight: 600;
}

.cat-offer{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: -10px;
}

.user-name{
    background-color: #fff;
    color: black;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.15);
    padding: 0 0.9rem;
    border-radius: 60px 40px 60px 40px;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;

    position: absolute;
    right: 5%;
    /*left: 18%;*/
    top: 38%;
    
}


.load {
    border-radius: 12px;
    
    
    background-color: rgb(253, 252, 252);
    margin: 15px;
    width: 320px;
    height: 350px;
   
}

.mr {
    margin-right: 3px;
}

.links {
    color:#444;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.links:hover {
    color:#444;
    text-decoration: underline;
}

.btn-outline-secondary {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}

.card-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.text-muted {
    margin-top: 2px;
    font-size: 14px;
}

.cat {
    
     border : 1px solid var(--primary);
    border-radius: 15px;
    margin-right: 5px;
    
    margin-bottom: 5px;
    padding: 0 0.5rem;
    cursor: pointer;
   color:  var(--primary);
   
;
}

.footer-c{
    width: 100%;
    height: 28px;
    display: flex;
    
    justify-content: center;
}

.bottom {
    margin: 0 1rem;
    
    line-height: 38px;
    border-top: 1px solid rgb(231, 231, 231) ;
    
    text-align: center;
    position: absolute;
    width: 80%;
    bottom: 5px;
    
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.avatar-user{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 1px solid #aaa;
    margin-right: 6px;
}
.content-user{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-top: -10px;
   
}

.card-img-top {
    height: 220px;
    display: flex;
    width: 305px;
    margin: 8px;
    justify-content: center;
   
    object-fit: cover;
    background-size: cover;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-body {
    overflow: hidden;
    margin-top: -10px;
}



.cards-dots {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.7;
}