.category-search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    flex-wrap: wrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
   
 
    
}

.set-categories{
    margin-top: 10px;
}

.ml{
    margin-left: 5px;
    cursor: pointer;
}
.catg{
    color: tomato;
    border: 1px solid tomato;
    margin-right: 5px;
    padding: 0 0 0 0.5rem;
}

.btn-pry{
    border: none;
    height: 50px;
    padding: 0 1.5rem;
    background-color: rgb(245, 241, 241);
    border: 0.1rem solid #dbdbdb;
    font-weight: bold;
   
    color: #111;
    border-radius: 5px;
}

.category {
   
    margin: 15px
}

.title {
    color: #474747;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.form-select:focus {
    outline: none;
    box-shadow: 0 0 1px 1px var(--primary);
    border: 1px solid var(--primary);
}

.display {
    display: flex;
    flex-wrap: wrap;
}

.form-select {
    height: 50px;
    outline: 0;
    border: none;
    background-color: #fcfcfc;
    border: 1px solid #eee;
}

@media only screen and (max-width: 820px) {
    .category-search {
        justify-content: center;
    }
    .category {
        width: 100%
    }
    .btn-pry{
         width: 94%;
    }
}

@media only screen and (max-width: 1200px) {
    .category-search {
        justify-content: center;
    }
    .category {
        width: 100%
    }
}

/* popup */

.form-pop {
    position: fixed;
    width: 500px;
    right: 33%;
    height: 490px;
    border-radius: 10px;
    background-color: var(--main-bg);
    z-index: 10;
    bottom: 10%;
    box-shadow: 5px 10px 18px #888888;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}

.content .input {
    width: 100%;
    padding: 5px;
    border: none;
}



.content .input:focus {
    outline: none;
}

.select-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    margin-top: 3%;
    border-radius: 10rem;
    color: #333;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
}

label {
    font-size: 20px;
}