.category-search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #fcfcfc;
    flex-wrap: wrap;
    border-radius: 8px;
    border-left: 5px solid var(--primary);
    border-right: 5px solid var(--primary)
}

.category {
    width: 300px;
    margin: 20px
}

.title {
    color: #474747;
    font-size: 26px;
    font-weight: bold;
}

.form-select:focus {
    outline: none;
    box-shadow: 0 0 1px 1px var(--primary);
    border: 1px solid var(--primary);
}

.display {
    display: inherit;
    flex-wrap: wrap;
}

.form-select {
    height: 50px;
    outline: 0;
    border: 1px solid #eee;
}

@media only screen and (max-width: 820px) {
    .category-search {
        justify-content: center;
    }
    .category {
        width: 100%
    }
}

@media only screen and (max-width: 1200px) {
    .category-search {
        justify-content: center;
    }
    .category {
        width: 100%
    }
}