/* Gallery sectioon */

.gallerie {
    display: flex;
    flex-wrap: wrap;
    width: 965px;
    padding-left: 10px;
}

.img {
    height: 293px;
    width: 296px;
    transition: 0.5s ease;
}
.cardItems {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 340px;
    width: 298px;
    border: 1px solid #dbdbdb;
    position: relative;
    margin-left: 4px;
    margin-right: 15px;
    transition: 0.5s ease;
}
.only-description {
    font-size: 28px;
}
.description {
    padding-left: 5px;
    margin-top: 10px;
    white-space: nowrap;
    color: #29323c;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
}
.cardItems:hover {
    opacity: 0.8;
}

.post-card {
    position: absolute;
    left: 80%;
    bottom: 82%;
    opacity: 0.7;
}
.post-card:hover {
    opacity: 1;
}
.Menu_Item {
    width: 100%;
}
