.container-nav {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
}

.search-nav{
    padding: 0 8%;
   width: 100%;
    display: flex;
    justify-content: center;
}

.topnav {
    height: 100%;
    
    display: flex;
    justify-content: flex-end;
}

.search-b{
    
    display: flex;
    justify-content: flex-start;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
    margin: 10px;
}

.btn-danger {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    border-radius: 30px;
}



a{
    cursor: pointer;
}

.topnav a.link-to-active:hover {
    color: var(--primary);
    height: 55px;
    line-height: 30px;
    border-bottom: 4px solid var(--primary);
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.navbar-collapse {
    display: inherit;
}

.linkbi i {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;
}

.linkbi i:hover, .linkbi i:focus {
    color: var(--primary)
}

.link:hover {
    text-decoration: underline;
    color: var(--primary);
}

.navb {
    height: 70px;
    width: 100%;
   padding: 0 10%;
    display: flex;
    justify-content: center;
    width: 100%;
    
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: #fefefe;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
}
.clicked {
    
    color: var(--primary);
    height: 55px;
    border-bottom: 4px solid var(--primary);
}

.topnav .clicked {
    color:var(--primary);
}
.imageAvatarTop {
    height: 70px;
    width: 70px;
}
.avatar-user2{
    margin-top: 8px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #aaa;
    margin-left: 6px;
}

@media only screen and (max-width: 920px) {
    .container-nav {
        flex-direction: column;
    }
    .search-b{
        justify-content: center;
    }
    .navb {
        padding-left: 0px;
        padding-right: 0px;
        height: 190px;
       
    }
    .topnav {
        border-top: 1px solid #ababab;
        margin-top: 20px;
        overflow: hidden;
        height: 70px;
        justify-content: center;
    }
    
    .search-b {
        margin-top: 10px;
    }
}

.orendaRedirection {
    color: #000000;
}