.items {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-signin {
    margin-top: 70px;
    position: relative;
    background-color: var(--card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 400px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 24px 32px 32px;
    border-radius: 8px;
}

.alert-danger {
    margin-top: 10px;
    width: 352px;
}

.card-signup {
    position: relative;
    margin-top: 80px;
    background-color: var(--card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 800px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 24px 32px 32px;
    border-radius: 8px;
}

.inputs {
    margin: 10px;
    margin-left: 25%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log {
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

.log:hover {
    text-decoration: underline;
}

.footer-card {
    text-align: center;
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
}

.align {
    display: block;
}

.av-align {
    display: flex;
    justify-content: center;
}

.avt {
    position: absolute;
    top: -55px;
}

label {
    font-size: 26px;
    color: #474747;
    line-height: 2.5;
}

.avatar {
    vertical-align: middle;
    border-radius: 50%;
}

.center {
    width: 100%;
    text-align: center;
}

.form-ctrl {
    outline: 0;
    width: 352px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: 300;
}

.form-area {
    outline: 0;
    width: 352px;
    height: 189px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: 300;
}

.create-account {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    padding: 1rem 0 1rem 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-ctrl:focus, .form-area:focus {
    outline: 0;
    box-shadow: 0 0 1px 1px var(--primary);
    border: 1px solid var(--primary);
}

.mrg {
    margin: 20px auto;
}

.mrg-input {
    margin: 5px auto;
}

.btn-login {
    background-color: var(--primary);
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    width: 352px;
    line-height: 40px;
    outline-width: 2px;
    padding: 0 30px;
    height: 50px;
    border-radius: 28px !important;
}

.btn-login:hover {
    background-color: #be781d;
}

@media only screen and (max-width: 820px) {
    .card-signin {
        margin-top: 150px;
        width: 380px;
        height: 550px;
    }
    .card-signup {
        margin-top: 150px;
        margin-bottom: 20px;
        width: 400px;
        height: 800px
    }
    .space-between {
        flex-wrap: wrap;
    }
    .btn-login, .form-ctrl, .form-area, .alert-danger {
        width: 340px;
    }
    .form-area {
        height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .card-signin {
        margin-top: 150px;
        width: 350px;
        height: 550px;
    }
    .card-signup {
        margin-top: 150px;
        margin-bottom: 20px;
        width: 350px;
        height: 800px
    }
    .space-between {
        flex-wrap: wrap;
    }
    .btn-login, .form-ctrl, .form-area, .alert-danger {
        width: 320px;
    }
    .form-area {
        height: 100px;
    }
}